.item {
  flex: 50%;
  margin-bottom: 40px;
}

.itemImg {
  width: 250px;
  height: 250px;
  margin-left: 40px;
}

.itemTitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  margin-left: 20px;
  /* text-align: center; */

  color: #1d3557;
}

.itemOrganizer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  margin-left: 20px;
  /* text-align: center; */

  color: #1d3557;
}

.itemOrganizer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  margin-left: 20px;
  /* text-align: center; */

  color: #1d3557;
}

.itemDeadline {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  margin-left: 20px;
  /* text-align: center; */

  color: #1d3557;
}

.itemLearnMore {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: px;
  line-height: 35px;
  margin-left: 20px;
  /* text-align: center; */

  color: #1d3557;
}
