.itemsTitle {
  font-size: 30px;
  font-weight: 600;
  /* margin-left: 20px; */
  color: #1d3557;
  padding-bottom: 20px;
  text-align: center;
}

.itemsSearchCon {
  margin-bottom: 40px;
  margin-left: 40px;
}

.items {
  background-color: #ebf6e7;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
}

.itemsWhiteLayer {
  padding-top: 40px;
  background-color: rgba(248, 247, 216, 0.7);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.favTitle{
  width: 100%;
  background-color: rgb(149, 229, 240);
  padding-top : 20px
}
