.item {
  flex: 50%;
  margin-bottom: 40px;
  height: 250px;
  /* background-color: aqua; */
  /* padding-bottom: 30px; */
  /* border-bottom: 2px black solid; */
  /* border-bottom-style: 30px; */
}

.itemImg {
  width: 250px;
  height: 250px;
  margin-left: 20px;
  border-radius: 10px;
}

.itemTitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #1d3557;
}

.itemOrganizer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  color: #1d3557;
}

.itemOrganizer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  color: #1d3557;
}

.itemDeadline {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  color: #1d3557;
}

.itemLearnMore {
  float: right;
  background-color: #e63946;
  width: 120px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 35px;
  color: #ffffff;
}

.itemLearnMore:hover {
  background-color: #dd303f;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.2);
  cursor: grab;
}

.itemText {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding-left: 30px;
  padding-right: 20px;
}
