.itemsTitle {
  font-size: 30px;
  font-weight: 600;
  margin-left: 20px;
  color: #1d3557;
  margin-bottom: 20px;
  text-align: center;
}

.items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: auto;
}

.itemsSearchCon {
  margin-bottom: 40px;
  margin-left: 40px;
}

.itemsCon {
  background-color: #ebf6e7;
  padding-top: 40px;
}
